/*Universal Declarations*/
* {
	font-family: Montserrat;
}
body {
    overflow-x: hidden;
}

/*Styles for general use*/
.fullheight {
	min-height: 100vh
}
.is-marginless {
	margin: unset;
}
.is-widthless {
	width: unset;
}
.is-vertically-centered {
	position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.is-horizontally-centered {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.is-centered {
    display: flex;
	justify-content: center;
}

.has-depth {
    display: inline-block;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border-radius: 4px;
    transition: all .15s ease;
}
.has-depth:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.is-round {
    border-radius: 15px;
}
.is-underlined {
    text-decoration: underline
}

.is-margined {
    margin: 0px 15px;
    padding-top: 100px;
}

/*Media queries for general use*/
	/*Hides desktop elements when under 1281px wide */
@media (max-width: 1280px) {
	.is-desktop {display: none!important;}
	h2, h3, h4, p1 {color: #4a4a4a}
	h1 {font-size: 48px; font-weight: bolder; color: #363636}
	h2 {font-size: 35px}
	h3 {font-size: 20px}
    h4 {font-size: 32px; font-weight: bolder;}
    p1 {font-size: 16px}
}

	/*Hides mobile elements when over 1280px wide */
@media (min-width: 1281px) {
	.is-mobile {display: none!important;}
	h2, h3, h4, p1 {color: #4a4a4a}
	h1 {font-size: 48px; font-weight: bolder; color: #363636}
	h2 {font-size: 40px;}
	h3 {font-size: 20px;}
    h4 {font-size: 30px; font-weight: bolder; }
    p1 {font-size: 14px;}
}
/*Navbar Style*/
.fixed {
    position: fixed;
    width: 100vw;
    transition: all 1s;
}
.nav-colored { background-color: #4D525C; opacity: .95  }

.nav-transparent { background-color:transparent;}

.navbar-item {
    color: #FFFFFF;
    font-weight: bold;
}
.navbar-item:hover {
    background: unset !important;
    color: #ffaf24 !important;
}
.navbar-item.is-active span {
    color: #ffd83d!important;
    border-bottom: 2px solid #ffaf24;
}
.navbar-item:hover span {
    color: #ffd83d!important;
    border-bottom: 2px solid #ffaf24;
}


/*Hero Style*/
	/*Intro Style*/
#intro-desktop {
	padding-left: 100px;
}
#intro-mobile {
	padding-left: 30px;
}
.hero-image {
	background-image: url('../static/hero/architecture-building-high-rise-137604.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*Flips image across x axis*/
	/*-webkit-transform: scaleX(-1);*/
	/*transform: scaleX(-1);*/
}
    /*Down Icon style and animation*/
#down-button-mobile, #down-button-desktop {
    bottom: 10vh;
}
.bounce {
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


/*Project Style*/
#projects-section {
    padding-left: 15px;
    padding-right: 15px;
}
.set-project-width {
    max-width: 1600px;
}
.set-card-width {
    max-width: 356px
}

/*About Me Style*/
#about-text {
    max-width: 700px;

}
#avatar {
    border-radius: 100px;
    max-width: 160px;
    max-height: 160px;
    margin: 10px;
}
/*Contact Me Style*/
.is-icon {
    background-color: black;
    font-size: 70px;
    color: white;
    border-radius: 100%;

}
.linkedin {
    background-color: #0077B5;
    border: 10px solid #0077B5;
}
.twitter {
    background-color: #1CA1F2;
    border: 10px solid #1CA1F2;
}
.github {
    background-color: #24292D;
    border: 10px solid #24292D;
}

/*Footer Style*/
#footer-section {
    background: #FAFAFA;
    padding: 30px;
    margin-top: 15px;
}