/*Universal Declarations*/
* {
	font-family: Montserrat;
}

/*Styles for general use*/
.fullheight {
	height: 100vh
}
.is-marginless {
	margin: unset;
}
.is-widthless {
	width: unset;
}
.is-vertically-centered {
	position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.is-horizontally-centered {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.has-depth {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
    transition: all .15s ease;
}
.has-depth:hover {
    color: #5778F3;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
/*Media queries for general use*/
	/*Hides desktop elements when under 1281px wide */
@media (max-width: 1280px) {
	.is-desktop {display: none!important;}
	h2, h3 {color: #4a4a4a}
	h1 {font-size: 48px; font-weight: bolder; color: #363636}
	h2 {font-size: 35px}
	h3 {font-size: 20px}
}

	/*Hides mobile elements when over 1280px wide */
@media (min-width: 1281px) {
	.is-mobile {display: none!important;}
	h2, h3 {color: #4a4a4a}
	h1 {font-size: 48px; font-weight: bolder; color: #363636}
	h2 {font-size: 40px; }
	h3 {font-size: 20px}
}




/*Hero Style*/
	/*Intro Style*/
#intro-desktop {
	padding-left: 100px;
}
#intro-mobile {
	padding-left: 30px;
}
.hero-image {
	background-image: url('../static/hero/architecture-building-high-rise-137604.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*Flips image across x axis*/
	/*-webkit-transform: scaleX(-1);*/
	/*transform: scaleX(-1);*/
}
    /*Down Icon style and animation*/
#down-button {
    bottom: 10vh;
}
.bounce {
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


