.fullheight {
	height: 100vh
}


.gradient {
    background-size: 500% 500%;
    background-image: radial-gradient(circle, rgba(116, 78, 241, 100) 0%, rgba(68, 179, 194, 1) 80%);
    animation: animate 20s infinite;
    animation-fill-mode: forwards;
}
@keyframes animate {
	0% {
		background-position: 0% 50%
	}
	25% {
		background-position: 50% 0%
	}
	50% {
		background-position: 100% 50%
	}
	75% {
		background-position: 50% 100%
	}
	100% {
		background-position: 0% 50%
	}
}